openapi: "3.0.0"
info:
  version: 1.0.0
  title: Pickup
  description: Pickup API for downloading invoice parser results
  contact:
    name: Parsly
    email: dev@parsly.com
    url: http://parsly.com
servers:
  - url: https://parsly.com/api/pickup/v1
  - url: /api/pickup/v1
paths:
  /healthcheck:
    description: |
      Service health check mechanisms.
    get:
      description: |
        Return service health check status.
      operationId: getHealthCheck
      responses:
        '200':
          description: health check status
          content:
            application/json:
              schema:
                type: boolean
  /results/{list_id}/{attachment_id}:
    description: |
      Invoice parser results.
    get:
      description: |
        Download invoice parser result.
      operationId: getResult
      parameters:
        - name: list_id
          in: path
          description: Id of uploaded attachment list
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/google/uuid
        - name: attachment_id
          in: path
          description: Id of uploaded attachment
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/google/uuid
      responses:
        '200':
          description: invoice parser result
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - error_code
        - message
      properties:
        error_code:
          type: string
        message:
          type: string
