openapi: "3.0.0"
info:
  version: 1.0.0
  title: Dropzone
  description: Dropzone API for uploading invoice files
  contact:
    name: Parsly
    email: dev@parsly.com
    url: http://parsly.com
servers:
  - url: https://apix.parsly.com/dropzone/v1
paths:
  /healthcheck:
    description: |
      Service health check mechanisms.
    get:
      description: |
        Return service health check status.
      operationId: getHealthCheck
      responses:
        '200':
          description: health check status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
  /files:
    description: |
      File upload service.
    put:
      description: |
        Get presigned upload url.
      operationId: presignUpload
      requestBody:
        description: Array of invoice files to be uploaded.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewFileList'
      responses:
        '201':
          description: List of uploaded invoice files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedFileList'
    post:
      description: |
        Upload invoice files.
      operationId: postFiles
      parameters:
        - name: uploadId
          in: query
          description: Optional upload ID (automatically assigned if omitted)
          required: false
          schema:
            $ref: "#/components/schemas/ResourceId"
      requestBody:
        description: Array of invoice files.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
            encoding:
              file:
                contentType: multipart/form-data
                headers:
                  X-File-Id:
                    description: Optional file ID (automatically assigned if omitted)
                    schema:
                      $ref: "#/components/schemas/ResourceId"
      responses:
        '201':
          description: List of uploaded invoice files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
components:
  schemas:
    Status:
      type: boolean
    ResourceId:
      type: string
      minLength: 8
      maxLength: 256
      pattern: '^[a-zA-Z0-9]+[a-zA-Z0-9\-]*[a-zA-Z0-9]+$'
    FileList:
      type: object
      required:
        - id
        - external_id
        - files
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: int64
        external_id:
          $ref: "#/components/schemas/ResourceId"
        files:
          type: array
          items:
            $ref: "#/components/schemas/File"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    File:
      type: object
      required:
        - id
        - external_id
        - file_name
        - content_type
        - checksum
        - size
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: int64
        external_id:
          $ref: "#/components/schemas/ResourceId"
        file_name:
          type: string
          maxLength: 1024
        content_type:
          type: string
          maxLength: 1024
        checksum:
          type: string
        size:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    NewFileList:
      type: object
      required:
        - external_id
        - files
      properties:
        external_id:
          $ref: "#/components/schemas/ResourceId"
        files:
          type: array
          items:
            $ref: "#/components/schemas/NewFile"
    NewFile:
      type: object
      required:
        - external_id
        - file_name
        - content_type
        - checksum
        - size
      properties:
        external_id:
          $ref: "#/components/schemas/ResourceId"
        file_name:
          type: string
          maxLength: 1024
        content_type:
          type: string
          maxLength: 1024
        checksum:
          type: string
        size:
          type: integer
    PresignedFileList:
      type: object
      required:
        - id
        - external_id
        - files
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: int64
        external_id:
          $ref: "#/components/schemas/ResourceId"
        files:
          type: array
          items:
            $ref: "#/components/schemas/PresignedFile"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PresignedFile:
      allOf:
        - $ref: '#/components/schemas/File'
        - type: object
          required:
          - url
          properties:
            url:
              type: string
    Error:
      type: object
      required:
        - error_code
        - message
      properties:
        error_code:
          type: string
        message:
          type: string
